*{
    margin: 0;
    padding: 0;
}
.connection { 
    padding-left: 330px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 700;
    margin-top: 150px;
}

.form_block {
    border-width:7px;
    border-style: inset;
    border-color:black;
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 40px;
    margin-left: 300px;
    margin-top: 20px;
    margin-right: 300px;
    }

    #b_connexion {
        color :white;
        background-color:#2E3494;
        border-style: none;
        border-radius: 30px;
        padding:7px;
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
        margin-left: 320px;
    }
    #b_inscription {
        color :white;
        background-color:#2E3494;
        border-style: none;
        border-radius: 30px;
        padding:7px;
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;
        margin-left: 300px;
    }
    #co {
        justify-content:space-between;
        margin-bottom: 20px;
    }
    #e {
        width: 320px;
    }
    
    #m {
        width: 310px;
    }
    .form_email {
        color: rgb(255, 255, 255);
        font-size: 20px;
        padding: 5px;
        margin-right: 10px;
        margin-top: 3px;
        margin-bottom: 3px;
        background-color: rgb(65, 65, 65);
        border-radius: 10px;
    }
    .form_mdp {
        color: rgb(255, 255, 255);
        font-size: 20px;
        padding: 5px;
        margin-right: 20px;
        margin-top: 3px;
        margin-bottom: 3px;
        background-color: rgb(65, 65, 65);
        border-radius: 10px;
    }
   